.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__nav {
    display: flex;
    gap: 40px;
  }
  &__content {
    flex: 1;
  }
  &__header {
    padding: 20px;
  }
  &__filters {
    padding: 0 20px;
    width: max-content;
  }
  &__range {
    display: flex;
    flex-direction: column;
  }
}
.layout__select {
  &--nutrion {
    border: solid 1px black;
  }
}
.layout__saved {
  position: relative;
  span {
    position: absolute;
    right: -10px;
    top: -10px;
  }
}
